# Tarea 1

### NOMBRE ESTUDIANTE:  Mi HW

### CODIGO ESTUDIANTE

Use este mismo Jupyter Notebook pero cambiele de nombre a que sea:

Tarea1_ML_Nombre_Apellido.ipynb

### Introduccion

Gracias al apoyo de esta clase, usted cada de conseguir su primer empleo. Usted es el jefe de la seccion de analisis de datos de una pequeña compañia de juegos. Y su primera tarea es analizar la informacion que ha guardado la compañia del uso de su uego **Heroes de Pymoli**.

Este juego es gratis pero el negocio esta en que el juego "aconseja" comprar cosas adicionales para mejorar la experiencia del jugador. Lo quiere la compañia es que se cree un reporte que divida la informacion y de la empresa una idea mas profunda del comportamiento de los datos.

La tarea tiene varias partes y ustedes tienen que responder cada una (usen una celda para cada pregunta o usen una celda para cada seccion, como les parezca mejor):

1. Leer usando pandas el archivo de datos Resources/purchase_data.csv
2. Mirar si hay datos faltantes o hay filas repetidas.
3. Imprima el titulo de cada columna. Le va a servir para lo que sigue.

In [22]:
# Dependencias and e inicio
import pandas as pd
import numpy as np

# nombre del archivo de datos
file_to_load = "Resources/purchase_data.csv"

# lealo y guardelo como pandas data frame
purchase_data = pd.read_csv(file_to_load)

#print(purchase_data.head)
print("Titulo de cada columna = ",purchase_data.keys())


print("Datos NO faltantes=",purchase_data.notna().sum())

print("    --------  Duplicados")
print(purchase_data.duplicated())
print("Numero de duplicados = ",purchase_data.duplicated().sum())

Titulo de cada columna =  Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')
Datos NO faltantes= Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64
    --------  Duplicados
0      False
1      False
2      False
3      False
4      False
       ...
775    False
776    False
777    False
778    False
779    False
Length: 780, dtype: bool
Numero de duplicados =  0

Informacion de los articulos

4. Encontrar el numero total de jugadores
5. Encontrar el numero total de articulos DIFERENTES que se han comprado
6. Cual es el promedio de precios de los articulos que son diferentes
7. Cual ha sido la ganancia total de ventas

In [24]:
# total players.
total_players = len(purchase_data["SN"].value_counts())

# Create a data frame with total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
print(player_count)

# Calculations for unique items, average price, purchase count, and revenue
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create data frame with obtained values
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Format with currency style - Using US style to report amounts
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

   Total Players
0            576

Informacion demografica

8. Cuente cuantos son los jugadores que son hombres
9. Cual es el porcentaje de hombres y de mujeres dentro de la base de datos
10. Cuantos son los jugadores que no dieron informacion sobre su sexo.
11. Haga un histograma de la distribucion de edades

In [25]:

# Group purchase_data by Gender
gender_stats = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

# Create data frame with obtained values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

Analisis de compra

12. Cuantos articulos compraron los hombres y cuantos las mujeres?
13. Cuanto gastaron en promedio los hombres y cuando en promedio las mujeres?

In [26]:
# Count the total purchases by gender 
purchase_count = gender_stats["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = gender_stats["Price"].mean()

# Average purchase total by gender 
avg_purchase_total = gender_stats["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/total_count_gender

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

Informacion demografica por edad

En esta seccion, divida la informacion en "contenedores" de 4 años. (Es decir <10, 10-14,15-18, etc)

12. Cuanto se gastaron por edad
13. Cuanto fue el promedio que se gastaron por edad
14. Cual fue el gasto total por edad
15. Que grupo fue el que mas gasto y cuales son los articulos que mas se compraro para los que mas gastaron.
16. Hata un histograma de cuantas veces se compraron los diferentes articulos.
17. Identifique cuales son los articulos que das mas dinero a la empresa, identificando el nombre del articulo, el ID, cuantas veces se compro y el precio del articulo.

In [27]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [28]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [29]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [30]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [31]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})